In [9]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 46.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=53b51242fc3171fcfe755e6d4f5f514dbe09359b2ff5b60c93fec4a08044ca45
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [3]:
import pandas as pd

In [6]:
path = 'marketing.csv'

In [7]:
#O DATAFRAME TRATADO EM PANDAS SERA CHAMADO DE dfp
dfp = pd.read_csv(path)

In [ ]:
#CRIACAO DE BACKUP
bkp = dfp.copy()

In [ ]:
pd.set_option('max_columns', None)

In [ ]:
#RENOMEANDO AS COLUNAS E TRADUZINDO PARA PT-BR
dfp.rename(columns={'Year_Birth':'Ano_nascimento','Education':'Educacao','Marital_Status':'Estado_Civil','Income':'Renda','Kidhome':'Crianca_em_Casa','Teenhome':'Adolesc_em_Casa','Dt_Customer':'Dt_Inscricao_Cliente','Recency':'Recente','MntWines':'Gasto_Vinho','MntFishProducts':'Gasto_Peixe','MntMeatProducts':'Gasto_Carne','MntSweetProducts':'Gasto_Doce','MntFruits':'Gasto_Fruta'},inplace=True)

In [ ]:
dfp.columns

Index(['ID', 'Ano_nascimento', 'Educacao', 'Estado_Civil', 'Renda',
       'Crianca_em_Casa', 'Adolesc_em_Casa', 'Dt_Inscricao_Cliente', 'Recente',
       'Gasto_Vinho', 'Gasto_Fruta', 'Gasto_Carne', 'Gasto_Peixe',
       'Gasto_Doce', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [ ]:
dfp.rename(columns={'MntGoldProds':'Gasto_Ouro','NumDealsPurchases':'Compras_Desconto','NumWebPurchases':'Compras_Site','NumCatalogPurchases':'Compras_Catalogo','NumStorePurchases':'Compras_Loja','NumWebVisitsMonth':'Visitas_Site','Complain':'Reclamacoes'},inplace=True)

In [ ]:
dfp.head()

,ID,Ano_nascimento,Educacao,Estado_Civil,Renda,Crianca_em_Casa,Adolesc_em_Casa,Dt_Inscricao_Cliente,Recente,Gasto_Vinho,Gasto_Fruta,Gasto_Carne,Gasto_Peixe,Gasto_Doce,Gasto_Ouro,Compras_Desconto,Compras_Site,Compras_Catalogo,Compras_Loja,Visitas_Site,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Reclamacoes,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [ ]:
#PARA TRATAMENTO, AS COLUNAS Z_CostContact e Z_Revenue SERAO DROPADAS DA TABELA, JÁ QUE SEUS VALORES SAO REPETIDOS O DATAFRAME INTEIRO CONFORME OS COMANDOS ABAIXO:
pd.unique(dfp['Z_Revenue'])

array([11])

In [ ]:
pd.unique(dfp['Z_CostContact'])

array([3])

In [ ]:
dfp.drop(['Z_CostContact','Z_Revenue'],axis=1,inplace=True)

In [ ]:
'''ALEM DESTAS COLUNAS, AS COMPRAS EFETUADAS EM PERIODOS ESPECIFICOS COM BASE EM PROMOCOES TAMBEM SERAO DESCARTADAS, JA QUE TEMOS UMA COLUNA COM AS COMPRAS TOTAIS EFETUADAS EM PROMOCAO
AS COLUNAS A SEREM EXCLUIDAS SAO: AcceptedCmp3	AcceptedCmp4	AcceptedCmp5	AcceptedCmp1	AcceptedCmp2 Response JA QUE TEMOS A COLUNA "Compras_Desconto".'''
dfp.drop(['AcceptedCmp3',	'AcceptedCmp4',	'AcceptedCmp5',	'AcceptedCmp1',	'AcceptedCmp2','Response'],axis=True,inplace=True)

In [ ]:
dfp.columns

Index(['ID', 'Ano_nascimento', 'Educacao', 'Estado_Civil', 'Renda',
       'Crianca_em_Casa', 'Adolesc_em_Casa', 'Dt_Inscricao_Cliente', 'Recente',
       'Gasto_Vinho', 'Gasto_Fruta', 'Gasto_Carne', 'Gasto_Peixe',
       'Gasto_Doce', 'Gasto_Ouro', 'Compras_Desconto', 'Compras_Site',
       'Compras_Catalogo', 'Compras_Loja', 'Visitas_Site', 'Reclamacoes'],
      dtype='object')

In [ ]:
#BLOCO ONDE TESTEI A INCONSISTÊNCIA DOS DADOS COM O UNIQUE
sorted(pd.unique(dfp['Educacao']))
#TESTEI TODOS AS COLUNAS, NÃO FORAM ENCONTRADAS INCONSISTÊNCIAS COM CARACTERES ESPECIAIS

['2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD']

In [ ]:
#TRADUÇÃO E TRATAMENTO DOS DADOS DAS COLUNAS UTILIZANDO A FUNCAO MAP
dfp['Estado_Civil'] = dfp['Estado_Civil'].map({'Absurd':'Solteiro(a)', 'Alone':'Solteiro(a)', 'Divorced':'Divorciado(a)','Single':'Solteiro(a)','Together':'Uniao estavel','Widow':'Viuvo(a)','YOLO':'Solteiro(a)','Married':'Casado(a)'})

In [ ]:
dfp['Educacao'] = dfp['Educacao'].map({'2n Cycle':'Pos-graduado', 'Basic':'Basico','Graduation':'Graduado','Master':'Mestre','PhD':'PhD'})

In [ ]:
#VERIFICAÇÃO E TRATAMENTO DE VALORES NULOS:
dfp.isna().sum()
#AO EXECUTAR A FUNÇÃO ISNA, FORAM DETECTADOS 24 CAMPOS NULOS EM RENDA.

ID                       0
Ano_nascimento           0
Educacao                 0
Estado_Civil             0
Renda                   24
Crianca_em_Casa          0
Adolesc_em_Casa          0
Dt_Inscricao_Cliente     0
Recente                  0
Gasto_Vinho              0
Gasto_Fruta              0
Gasto_Carne              0
Gasto_Peixe              0
Gasto_Doce               0
Gasto_Ouro               0
Compras_Desconto         0
Compras_Site             0
Compras_Catalogo         0
Compras_Loja             0
Visitas_Site             0
Reclamacoes              0
dtype: int64

In [ ]:
#PARA NAO INTERFERIR NA MEDIA, CONSIDEREI OS VALORES NULOS COMO SENDO A MÉDIA DE TODOS OS DADOS DA RENDA
media_renda = dfp['Renda'].mean()
dfp['Renda'] = dfp['Renda'].fillna(media_renda)

In [ ]:
#NAO HA MAIS NENHUM VALOR NULO NO DF
dfp.isna().sum()

ID                      0
Ano_nascimento          0
Educacao                0
Estado_Civil            0
Renda                   0
Crianca_em_Casa         0
Adolesc_em_Casa         0
Dt_Inscricao_Cliente    0
Recente                 0
Gasto_Vinho             0
Gasto_Fruta             0
Gasto_Carne             0
Gasto_Peixe             0
Gasto_Doce              0
Gasto_Ouro              0
Compras_Desconto        0
Compras_Site            0
Compras_Catalogo        0
Compras_Loja            0
Visitas_Site            0
Reclamacoes             0
dtype: int64

In [ ]:
dfp.dtypes

ID                        int64
Ano_nascimento            int64
Educacao                 object
Estado_Civil             object
Renda                   float64
Crianca_em_Casa           int64
Adolesc_em_Casa           int64
Dt_Inscricao_Cliente     object
Recente                   int64
Gasto_Vinho               int64
Gasto_Fruta               int64
Gasto_Carne               int64
Gasto_Peixe               int64
Gasto_Doce                int64
Gasto_Ouro                int64
Compras_Desconto          int64
Compras_Site              int64
Compras_Catalogo          int64
Compras_Loja              int64
Visitas_Site              int64
Reclamacoes               int64
dtype: object

##Utilizarei o Spark para fazer alterações e criações de colunas adicionais.

In [10]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.functions import col
from pyspark.sql.functions import round
from pyspark.sql.window import Window
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
spark = SparkSession.builder.master("local").appName("aula-spark").config("spark.ui.port","4050").getOrCreate()

In [ ]:
dfp.columns

Index(['ID', 'Ano_nascimento', 'Educacao', 'Estado_Civil', 'Renda',
       'Crianca_em_Casa', 'Adolesc_em_Casa', 'Dt_Inscricao_Cliente', 'Recente',
       'Gasto_Vinho', 'Gasto_Fruta', 'Gasto_Carne', 'Gasto_Peixe',
       'Gasto_Doce', 'Gasto_Ouro', 'Compras_Desconto', 'Compras_Site',
       'Compras_Catalogo', 'Compras_Loja', 'Visitas_Site', 'Reclamacoes'],
      dtype='object')

In [ ]:
#CONVERSAO DE VALORES INTEIROS PARA FLOAT PRA SETTAR NA STRUCT EM SEGUIDA PARA UTILIZAR O SPARK
dfp = dfp.astype({'Gasto_Vinho': float, 'Gasto_Fruta': float,'Gasto_Carne': float,'Gasto_Peixe': float, 'Gasto_Doce': float, 'Gasto_Ouro': float})

In [ ]:
dfp.dtypes

ID                        int64
Ano_nascimento            int64
Educacao                 object
Estado_Civil             object
Renda                   float64
Crianca_em_Casa           int64
Adolesc_em_Casa           int64
Dt_Inscricao_Cliente     object
Recente                   int64
Gasto_Vinho             float64
Gasto_Fruta             float64
Gasto_Carne             float64
Gasto_Peixe             float64
Gasto_Doce              float64
Gasto_Ouro              float64
Compras_Desconto          int64
Compras_Site              int64
Compras_Catalogo          int64
Compras_Loja              int64
Visitas_Site              int64
Reclamacoes               int64
dtype: object

In [ ]:
#IREI FAZER UMA STRUCT PARA ORGANIZAR E FIXAR O TIPO DO SCHEMA DO DATAFRAME
esquema = (
	StructType([
	StructField("ID",IntegerType(), False),
	StructField("Ano_nascimento", StringType(), False),
	StructField("Educacao", StringType(), False),
	StructField("Estado_Civil", StringType(), False),
	StructField("Renda", FloatType(), False),
	StructField("Crianca_em_Casa", IntegerType(), False),
	StructField("Adolesc_em_Casa", IntegerType(), False),
  StructField("Dt_Inscricao", StringType(), False),
  StructField("Dias_Ultima_Compra", IntegerType(), False),
  StructField("Gasto_Vinho", FloatType(), False),
  StructField("Gasto_Fruta", FloatType(), False),
  StructField("Gasto_Carne", FloatType(), False),
  StructField("Gasto_Peixe", FloatType(), False),
  StructField("Gasto_Doce", FloatType(), False),
  StructField("Gasto_Ouro", FloatType(), False),
  StructField("Compras_Desconto", IntegerType(), False),
  StructField("Compras_Site", IntegerType(), False),
  StructField("Compras_Catalogo", IntegerType(), False),
  StructField("Compras_Loja", IntegerType(), False),
  StructField("Visitas_Site", IntegerType(), False),
  StructField("Reclamacoes", IntegerType(), False),
	])
)

In [ ]:
#CONVERSAO DO DATAFRAME PANDAS TO SPARK E CRIACAO DO DFS COM A STRUCT
dfs = spark.createDataFrame(dfp, schema=esquema)

In [ ]:
dfs.show(truncate=False)

+----+--------------+------------+-------------+--------+---------------+---------------+------------+------------------+-----------+-----------+-----------+-----------+----------+----------+----------------+------------+----------------+------------+------------+-----------+
|ID  |Ano_nascimento|Educacao    |Estado_Civil |Renda   |Crianca_em_Casa|Adolesc_em_Casa|Dt_Inscricao|Dias_Ultima_Compra|Gasto_Vinho|Gasto_Fruta|Gasto_Carne|Gasto_Peixe|Gasto_Doce|Gasto_Ouro|Compras_Desconto|Compras_Site|Compras_Catalogo|Compras_Loja|Visitas_Site|Reclamacoes|
+----+--------------+------------+-------------+--------+---------------+---------------+------------+------------------+-----------+-----------+-----------+-----------+----------+----------+----------------+------------+----------------+------------+------------+-----------+
|5524|1957          |Graduado    |Solteiro(a)  |58138.0 |0              |0              |04-09-2012  |58                |635.0      |88.0       |546.0      |172.0      |88.0      |88.0      |3               |8           |10              |4           |7           |0          |
|2174|1954          |Graduado    |Solteiro(a)  |46344.0 |1              |1              |08-03-2014  |38                |11.0       |1.0        |6.0        |2.0        |1.0       |6.0       |2               |1           |1               |2           |5           |0          |
|4141|1965          |Graduado    |Uniao estavel|71613.0 |0              |0              |21-08-2013  |26                |426.0      |49.0       |127.0      |111.0      |21.0      |42.0      |1               |8           |2               |10          |4           |0          |
|6182|1984          |Graduado    |Uniao estavel|26646.0 |1              |0              |10-02-2014  |26                |11.0       |4.0        |20.0       |10.0       |3.0       |5.0       |2               |2           |0               |4           |6           |0          |
|5324|1981          |PhD         |Casado(a)    |58293.0 |1              |0              |19-01-2014  |94                |173.0      |43.0       |118.0      |46.0       |27.0      |15.0      |5               |5           |3               |6           |5           |0          |
|7446|1967          |Mestre      |Uniao estavel|62513.0 |0              |1              |09-09-2013  |16                |520.0      |42.0       |98.0       |0.0        |42.0      |14.0      |2               |6           |4               |10          |6           |0          |
|965 |1971          |Graduado    |Divorciado(a)|55635.0 |0              |1              |13-11-2012  |34                |235.0      |65.0       |164.0      |50.0       |49.0      |27.0      |4               |7           |3               |7           |6           |0          |
|6177|1985          |PhD         |Casado(a)    |33454.0 |1              |0              |08-05-2013  |32                |76.0       |10.0       |56.0       |3.0        |1.0       |23.0      |2               |4           |0               |4           |8           |0          |
|4855|1974          |PhD         |Uniao estavel|30351.0 |1              |0              |06-06-2013  |19                |14.0       |0.0        |24.0       |3.0        |3.0       |2.0       |1               |3           |0               |2           |9           |0          |
|5899|1950          |PhD         |Uniao estavel|5648.0  |1              |1              |13-03-2014  |68                |28.0       |0.0        |6.0        |1.0        |1.0       |13.0      |1               |1           |0               |0           |20          |0          |
|1994|1983          |Graduado    |Casado(a)    |52247.25|1              |0              |15-11-2013  |11                |5.0        |5.0        |6.0        |0.0        |2.0       |1.0       |1               |1           |0               |2           |7           |0          |
|387 |1976          |Basico      |Casado(a)    |7500.0  |0              |0              |13-11-2012  |59                |6.0        |16.0       |11.0       |11.0       |1.0       |16.0      |1               |2           |0               |3           |8           |0          |
|2125|1959          |Graduado    |Divorciado(a)|63033.0 |0              |0              |15-11-2013  |82                |194.0      |61.0       |480.0      |225.0      |112.0     |30.0      |1               |3           |4               |8           |2           |0          |
|8180|1952          |Mestre      |Divorciado(a)|59354.0 |1              |1              |15-11-2013  |53                |233.0      |2.0        |53.0       |3.0        |5.0       |14.0      |3               |6           |1               |5           |6           |0          |
|2569|1987          |Graduado    |Casado(a)    |17323.0 |0              |0              |10-10-2012  |38                |3.0        |14.0       |17.0       |6.0        |1.0       |5.0       |1               |1           |0               |3           |8           |0          |
|2114|1946          |PhD         |Solteiro(a)  |82800.0 |0              |0              |24-11-2012  |23                |1006.0     |22.0       |115.0      |59.0       |68.0      |45.0      |1               |7           |6               |12          |3           |0          |
|9736|1980          |Graduado    |Casado(a)    |41850.0 |1              |1              |24-12-2012  |51                |53.0       |5.0        |19.0       |2.0        |13.0      |4.0       |3               |3           |0               |3           |8           |0          |
|4939|1946          |Graduado    |Uniao estavel|37760.0 |0              |0              |31-08-2012  |20                |84.0       |5.0        |38.0       |150.0      |12.0      |28.0      |2               |4           |1               |6           |7           |0          |
|6565|1949          |Mestre      |Casado(a)    |76995.0 |0              |1              |28-03-2013  |91                |1012.0     |80.0       |498.0      |0.0        |16.0      |176.0     |2               |11          |4               |9           |5           |0          |
|2278|1985          |Pos-graduado|Solteiro(a)  |33812.0 |1              |0              |03-11-2012  |86                |4.0        |17.0       |19.0       |30.0       |24.0      |39.0      |2               |2           |1               |3           |6           |0          |
+----+--------------+------------+-------------+--------+---------------+---------------+------------+------------------+-----------+-----------+-----------+-----------+----------+----------+----------------+------------+----------------+------------+------------+-----------+
only showing top 20 rows

In [ ]:
#PARA SIMPLIFICAR POSSIVEIS MANIPULACOES, AS COLUNAS "Adolesc_em_Casa" e "Criancas_em_Casa" FORAM RENOMEADAS PARA "Criancas_Casa" e "Adolesc_Casa"
dfs2=dfs.withColumnRenamed('Dt_Inscricao','Data_Inscricao').withColumnRenamed('Crianca_em_Casa','Criancas_Casa').withColumnRenamed('Adolesc_em_Casa','Adolesc_Casa')

In [ ]:
dfs = dfs2

In [ ]:
#CRIANDO UMA COLUNA QUE SOMA O TOTAL GASTO COM ALIMENTACAO E OUTRA COM COMPRAS
dfs2 = dfs.withColumn('Gasto_Alimentos',(F.col('Gasto_Vinho') + F.col('Gasto_Fruta') + F.col('Gasto_Carne') + F.col('Gasto_Peixe') + F.col('Gasto_Doce')))

In [ ]:
dfs2 = dfs2.withColumn('nTotal_Compras',(F.col('Compras_Site') + F.col('Compras_Catalogo') + F.col('Compras_Loja')))

In [ ]:
#COLUNA PARA CALCULAR O PERCENTUAL DO TOTAL GASTO COM ALIMENTACAO EM RELACAO A RENDA ANUAL
dfs2 = dfs2.withColumn('Perc_gasto_Alimentos', (F.col('Gasto_Alimentos')/F.col('Renda')*100))

In [ ]:
dfs2 = dfs2.withColumnRenamed('Perc_Gasto_Alimentos','Perc_Gasto_Alimentos(%)')

In [ ]:
#COMO E PERCENTUAL, DIMINUINDO O NUMERO DE CASAS DECIMAIS PARA TORNAR MAIS APRESENTAVEL
dfs2 = dfs2.withColumn("Perc_Gasto_Alimentos(%)",round(col("Perc_Gasto_Alimentos(%)"),2))

In [ ]:
dfs = dfs2

In [ ]:
#PARA FINS DE ANALISE, SERAO UTILIZADAS WINDOWS FUNCTIONS QUE IRAO ORDENAR A RENDA DE ACORDO COM GRUPOS DE NIVEIS DE EDUCACAO
#AS LINHAS ESTAO ORDENADAS DE ACORDO COM O NIVEL DE INSTRUCAO, DE FORMA ASCENDENTE. AS RENDAS SAO CRESCENTES JUNTAMENTE AOS RANK'S.
WF = Window.partitionBy(F.col('Educacao')).orderBy(F.col('Renda'))
Rank_EDU = dfs2.withColumn('Rank',F.row_number().over(WF)).show(50)

+-----+--------------+--------+-------------+-------+-------------+------------+--------------+------------------+-----------+-----------+-----------+-----------+----------+----------+----------------+------------+----------------+------------+------------+-----------+---------------+--------------+-----------------------+----+
|   ID|Ano_nascimento|Educacao| Estado_Civil|  Renda|Criancas_Casa|Adolesc_Casa|Data_Inscricao|Dias_Ultima_Compra|Gasto_Vinho|Gasto_Fruta|Gasto_Carne|Gasto_Peixe|Gasto_Doce|Gasto_Ouro|Compras_Desconto|Compras_Site|Compras_Catalogo|Compras_Loja|Visitas_Site|Reclamacoes|Gasto_Alimentos|nTotal_Compras|Perc_Gasto_Alimentos(%)|Rank|
+-----+--------------+--------+-------------+-------+-------------+------------+--------------+------------------+-----------+-----------+-----------+-----------+----------+----------+----------------+------------+----------------+------------+------------+-----------+---------------+--------------+-----------------------+----+
|  387|          1976|  Basico|    Casado(a)| 7500.0|            0|           0|    13-11-2012|                59|        6.0|       16.0|       11.0|       11.0|       1.0|      16.0|               1|           2|               0|           3|           8|          0|           45.0|             5|                    0.6|   1|
| 4136|          1992|  Basico|  Solteiro(a)| 7500.0|            1|           0|    03-12-2012|                63|       10.0|       17.0|       18.0|        8.0|      26.0|      40.0|               4|           3|               2|           2|           9|          0|           79.0|             7|                   1.05|   2|
|10395|          1986|  Basico|  Solteiro(a)| 8940.0|            1|           0|    22-08-2012|                25|        1.0|       45.0|        3.0|        4.0|       6.0|      42.0|               3|           3|               1|           3|           8|          0|           59.0|             7|                   0.66|   3|
| 5342|          1976|  Basico|Divorciado(a)| 9548.0|            1|           0|    08-08-2012|                31|        0.0|        1.0|        3.0|       10.0|       6.0|       9.0|               2|           1|               0|           3|           8|          0|           20.0|             4|                   0.21|   4|
| 7349|          1973|  Basico|Uniao estavel| 9722.0|            1|           0|    02-10-2012|                 7|        6.0|       17.0|       16.0|        6.0|      16.0|      42.0|               4|           3|               1|           3|           8|          0|           61.0|             7|                   0.63|   5|
| 9316|          1952|  Basico|Uniao estavel|13084.0|            0|           0|    02-11-2013|                29|        2.0|        0.0|        7.0|        3.0|       7.0|      10.0|               1|           1|               0|           3|           6|          0|           19.0|             4|                   0.15|   6|
|10069|          1988|  Basico|Uniao estavel|13724.0|            1|           0|    31-08-2012|                43|        2.0|        7.0|        5.0|        2.0|      15.0|      27.0|               1|           2|               0|           2|           9|          0|           31.0|             4|                   0.23|   7|
| 5802|          1972|  Basico|    Casado(a)|14188.0|            0|           0|    28-02-2013|                40|        2.0|        7.0|       11.0|       16.0|      12.0|      27.0|               1|           2|               0|           4|           6|          0|           48.0|             6|                   0.34|   8|
|  193|          1996|  Basico|    Casado(a)|14421.0|            0|           0|    17-02-2014|                81|        0.0|        0.0|        2.0|        3.0|       3.0|       8.0|               1|           1|               0|           2|           5|          0|            8.0|             3|                   0.06|   9|
| 8700|          1986|  Basico|  Solteiro(a)|14906.0|            0|           0|    22-12-2012|                86|        7.0|        7.0|       14.0|        7.0|      16.0|      15.0|               3|           2|               1|           3|           7|          0|           51.0|             6|                   0.34|  10|
| 3850|          1963|  Basico|Uniao estavel|14918.0|            0|           1|    07-12-2012|                52|        3.0|        3.0|        3.0|       15.0|       4.0|      15.0|               1|           1|               0|           3|           6|          0|           28.0|             4|                   0.19|  11|
| 3628|          1987|  Basico|  Solteiro(a)|15038.0|            1|           0|    29-01-2013|                93|        4.0|        8.0|       11.0|       19.0|      12.0|      26.0|               2|           2|               1|           2|           9|          0|           54.0|             5|                   0.36|  12|
| 3839|          1958|  Basico|  Solteiro(a)|15056.0|            1|           1|    03-05-2013|                76|        6.0|       12.0|        3.0|       21.0|       6.0|      40.0|               5|           2|               2|           3|           5|          0|           48.0|             7|                   0.32|  13|
| 7600|          1992|  Basico|  Solteiro(a)|15253.0|            1|           0|    28-10-2013|                13|        1.0|        3.0|        3.0|        8.0|       1.0|      13.0|               2|           1|               0|           3|           7|          0|           16.0|             4|                    0.1|  14|
| 6347|          1979|  Basico|  Solteiro(a)|15862.0|            1|           0|    27-06-2013|                26|        1.0|        1.0|        4.0|       11.0|       9.0|      10.0|               1|           1|               0|           3|           8|          0|           26.0|             4|                   0.16|  15|
|  642|          1980|  Basico|    Casado(a)|16005.0|            1|           0|    14-08-2012|                69|        1.0|        3.0|        2.0|       20.0|      30.0|      47.0|               3|           2|               1|           2|           8|          0|           56.0|             5|                   0.35|  16|
| 5394|          1979|  Basico|  Solteiro(a)|16014.0|            1|           1|    17-03-2013|                42|        3.0|        9.0|        4.0|        7.0|       8.0|       7.0|               4|           1|               1|           4|           3|          0|           31.0|             6|                   0.19|  17|
| 7620|          1990|  Basico|  Solteiro(a)|16185.0|            1|           0|    05-08-2013|                71|        5.0|       11.0|       16.0|       21.0|       8.0|      45.0|               2|           2|               2|           2|           8|          0|           61.0|             6|                   0.38|  18|
| 8977|          1985|  Basico|  Solteiro(a)|16581.0|            0|           0|    12-01-2013|                51|        1.0|        3.0|        4.0|        2.0|       3.0|      11.0|               1|           0|               0|           3|           4|          0|           13.0|             3|                   0.08|  19|
| 1384|          1992|  Basico|    Casado(a)|17256.0|            1|           0|    23-11-2013|                10|        6.0|        4.0|       14.0|        8.0|       8.0|      22.0|               2|           2|               1|           2|           8|          0|           40.0|             5|                   0.23|  20|
| 6516|          1989|  Basico|    Casado(a)|17487.0|            1|           0|    18-03-2013|                37|        0.0|        0.0|        1.0|        7.0|       4.0|       6.0|               1|           1|               0|           2|           7|          0|           12.0|             3|                   0.07|  21|
| 6398|          1974|  Basico|    Casado(a)|18393.0|            1|           0|    29-03-2014|                 2|        7.0|       10.0|       13.0|       16.0|       0.0|       4.0|               2|           3|               0|           3|           8|          0|           46.0|             6|                   0.25|  22|
| 4055|          1992|  Basico|  Solteiro(a)|18746.0|            1|           0|    29-05-2014|                41|        2.0|       10.0|       11.0|       12.0|       9.0|      20.0|               2|           3|               0|           3|           6|          0|           44.0|             6|                   0.23|  23|
| 6682|          1973|  Basico|    Casado(a)|18978.0|            1|           0|    11-12-2012|                41|        2.0|        8.0|        1.0|        4.0|       7.0|      15.0|               1|           1|               0|           3|           8|          0|           22.0|             4|                   0.12|  24|
| 5150|          1979|  Basico|  Solteiro(a)|20194.0|            1|           0|    17-12-2012|                64|        0.0|        4.0|        7.0|       11.0|      10.0|      15.0|               2|           2|               0|           3|           6|          0|           32.0|             5|                   0.16|  25|
| 4211|          1986|  Basico|    Casado(a)|20425.0|            1|           0|    29-10-2012|                 5|        4.0|       12.0|        5.0|        3.0|      16.0|      17.0|               2|           2|               0|           3|           7|          0|           40.0|             5|                    0.2|  26|
| 1407|          1986|  Basico|    Casado(a)|20425.0|            1|           0|    29-10-2012|                 5|        4.0|       12.0|        5.0|        3.0|      16.0|      17.0|               2|           2|               0|           3|           7|          0|           40.0|             5|                    0.2|  27|
| 1987|          1987|  Basico|  Solteiro(a)|21063.0|            1|           0|    25-09-2013|                34|        1.0|       10.0|       11.0|       19.0|       3.0|      15.0|               2|           2|               0|           3|           6|          0|           44.0|             5|                   0.21|  28|
|  954|          1960|  Basico|     Viuvo(a)|22123.0|            0|           0|    27-03-2014|                77|        3.0|        3.0|       24.0|       34.0|       7.0|      31.0|               1|           2|               1|           3|           5|          0|           71.0|             6|                   0.32|  29|
| 2686|          1969|  Basico|Uniao estavel|22390.0|            0|           0|    21-10-2013|                49|        0.0|        1.0|        4.0|       15.0|       1.0|       5.0|               1|           1|               0|           2|           7|          0|           21.0|             3|                   0.09|  30|
|  880|          1966|  Basico|Uniao estavel|22634.0|            0|           0|    16-01-2013|                47|        2.0|       23.0|       11.0|        8.0|       6.0|      46.0|               1|           2|               1|           2|           8|          0|           50.0|             5|                   0.22|  31|
|  524|          1966|  Basico|Uniao estavel|22634.0|            0|           0|    16-01-2013|                47|        2.0|       23.0|       11.0|        8.0|       6.0|      46.0|               1|           2|               1|           2|           8|          0|           50.0|             5|                   0.22|  32|
| 1744|          1965|  Basico|  Solteiro(a)|23529.0|            0|           1|    07-01-2013|                67|        9.0|        7.0|       13.0|        3.0|       2.0|      20.0|               1|           1|               1|           2|           6|          0|           34.0|             4|                   0.14|  33|
| 8686|          1979|  Basico|Uniao estavel|23724.0|            1|           0|    08-01-2013|                65|        5.0|       23.0|       15.0|        0.0|      18.0|      14.0|               2|           2|               0|           3|           8|          0|           61.0|             5|                   0.26|  34|
| 8151|          1990|  Basico|    Casado(a)|24279.0|            0|           0|    29-12-2012|                 6|       16.0|       36.0|       21.0|       20.0|      62.0|     108.0|               1|           4|               1|           3|           8|          0|          155.0|             8|                   0.64|  35|
| 5181|          1982|  Basico|  Solteiro(a)|24367.0|            1|           0|    20-03-2013|                58|        2.0|        4.0|        2.0|        0.0|      11.0|       5.0|               1|           1|               0|           2|           9|          0|           19.0|             3|                   0.08|  36|
| 4669|          1981|  Basico|    Casado(a)|24480.0|            1|           0|    11-02-2013|                46|        4.0|       19.0|        9.0|       28.0|      25.0|      17.0|               3|           3|               0|           4|           7|          0|           85.0|             7|                   0.35|  37|
| 8373|          1979|  Basico|Uniao estavel|24594.0|            1|           0|    10-12-2013|                94|        1.0|        3.0|        6.0|       10.0|       0.0|       9.0|               1|           1|               0|           3|           5|          0|           20.0|             4|                   0.08|  38|
| 3829|          1979|  Basico|Uniao estavel|24594.0|            1|           0|    10-12-2013|                94|        1.0|        3.0|        6.0|       10.0|       0.0|       9.0|               1|           1|               0|           3|           5|          0|           20.0|             4|                   0.08|  39|
| 9733|          1978|  Basico|Uniao estavel|24882.0|            1|           0|    09-09-2012|                52|        1.0|        4.0|       10.0|       29.0|       0.0|      36.0|               1|           1|               1|           2|           6|          0|           44.0|             4|                   0.18|  40|
| 8462|          1978|  Basico|Uniao estavel|24882.0|            1|           0|    09-09-2012|                52|        1.0|        4.0|       10.0|       29.0|       0.0|      36.0|               1|           1|               1|           2|           6|          0|           44.0|             4|                   0.18|  41|
| 1646|          1972|  Basico|    Casado(a)|25224.0|            1|           0|    16-03-2014|                36|        4.0|        9.0|       12.0|       11.0|       2.0|       8.0|               2|           1|               1|           3|           3|          0|           38.0|             5|                   0.15|  42|
| 5692|          1989|  Basico|    Casado(a)|25443.0|            1|           0|    22-12-2012|                82|        1.0|        4.0|        3.0|        8.0|       9.0|       7.0|               1|           1|               0|           3|           8|          0|           25.0|             4|                    0.1|  43|
|11086|          1984|  Basico|  Solteiro(a)|25707.0|            1|           0|    18-01-2014|                18|        1.0|        6.0|        2.0|        3.0|       6.0|       3.0|               1|           1|               0|           3|           7|          0|           18.0|             4|                   0.07|  44|
| 1777|          1980|  Basico|    Casado(a)|25965.0|            0|           0|    07-09-2012|                29|        2.0|        2.0|       11.0|       41.0|       7.0|      11.0|               1|           2|               0|           3|           8|          0|           63.0|             5|                   0.24|  45|
|11187|          1978|  Basico|  Solteiro(a)|26487.0|            1|           0|    20-05-2013|                23|        2.0|        8.0|       10.0|       12.0|      14.0|      23.0|               3|           2|               1|           3|           5|          0|           46.0|             6|                   0.17|  46|
| 9960|          1991|  Basico|  Solteiro(a)|26868.0|            1|           0|    30-04-2014|                52|        0.0|        0.0|        1.0|        8.0|       3.0|       2.0|               1|           1|               0|           2|           7|          0|           12.0|             3|                   0.04|  47|
| 5043|          1951|  Basico|    Casado(a)|26997.0|            0|           0|    05-11-2012|                89|        7.0|       23.0|       78.0|      133.0|      49.0|     144.0|               2|           4|               2|           5|           7|          0|          290.0|            11|                   1.07|  48|
| 8234|          1973|  Basico|Uniao estavel|27190.0|            1|           0|    15-08-2013|                13|        1.0|        6.0|        7.0|        0.0|       1.0|       3.0|               1|           1|               0|           2|           8|          0|           15.0|             3|                   0.06|  49|
| 2563|          1961|  Basico|    Casado(a)|28249.0|            0|           0|    15-06-2014|                80|        1.0|        9.0|        7.0|        2.0|      14.0|      10.0|               1|           2|               0|           3|           6|          0|           33.0|             5|                   0.12|  50|
+-----+--------------+--------+-------------+-------+-------------+------------+--------------+------------------+-----------+-----------+-----------+-----------+----------+----------+----------------+------------+----------------+------------+------------+-----------+---------------+--------------+-----------------------+----+
only showing top 50 rows

In [ ]:
#NESTE BLOCO ESTOU UTILIZANDO UMA WINDOW FUNCTION QUE DETERMINA E CLASSIFICA A RENDA COM BASE NOS ESTADOS CIVIS
WF2 = Window.partitionBy('Estado_Civil').orderBy('Renda')
Rank_EC = dfs.withColumn('Rank',F.row_number().over(WF2)).show(50)

+-----+--------------+------------+------------+-------+-------------+------------+--------------+------------------+-----------+-----------+-----------+-----------+----------+----------+----------------+------------+----------------+------------+------------+-----------+---------------+--------------+-----------------------+----+
|   ID|Ano_nascimento|    Educacao|Estado_Civil|  Renda|Criancas_Casa|Adolesc_Casa|Data_Inscricao|Dias_Ultima_Compra|Gasto_Vinho|Gasto_Fruta|Gasto_Carne|Gasto_Peixe|Gasto_Doce|Gasto_Ouro|Compras_Desconto|Compras_Site|Compras_Catalogo|Compras_Loja|Visitas_Site|Reclamacoes|Gasto_Alimentos|nTotal_Compras|Perc_Gasto_Alimentos(%)|Rank|
+-----+--------------+------------+------------+-------+-------------+------------+--------------+------------------+-----------+-----------+-----------+-----------+----------+----------+----------------+------------+----------------+------------+------------+-----------+---------------+--------------+-----------------------+----+
| 5376|          1979|    Graduado|   Casado(a)| 2447.0|            1|           0|    06-01-2013|                42|        1.0|        1.0|     1725.0|        1.0|       1.0|       1.0|              15|           0|              28|           0|           1|          0|         1729.0|            28|                  70.66|   1|
| 9931|          1963|         PhD|   Casado(a)| 4023.0|            1|           1|    23-06-2014|                29|        5.0|        0.0|        1.0|        1.0|       1.0|       1.0|              15|           0|               0|           0|          19|          0|            8.0|             0|                    0.2|   2|
|10311|          1969|    Graduado|   Casado(a)| 4428.0|            0|           1|    05-10-2013|                 0|       16.0|        4.0|       12.0|        2.0|       4.0|     321.0|               0|          25|               0|           0|           1|          0|           38.0|            25|                   0.86|   3|
| 9303|          1976|    Graduado|   Casado(a)| 5305.0|            0|           1|    30-07-2013|                12|       12.0|        4.0|        7.0|        1.0|       3.0|       5.0|               0|           1|               0|           0|          13|          0|           27.0|             1|                   0.51|   4|
|  387|          1976|      Basico|   Casado(a)| 7500.0|            0|           0|    13-11-2012|                59|        6.0|       16.0|       11.0|       11.0|       1.0|      16.0|               1|           2|               0|           3|           8|          0|           45.0|             5|                    0.6|   5|
| 2139|          1975|      Mestre|   Casado(a)| 7500.0|            1|           0|    02-10-2013|                19|        3.0|        1.0|       10.0|        3.0|       2.0|      12.0|               3|           2|               0|           3|           5|          0|           19.0|             5|                   0.25|   6|
| 9909|          1996|Pos-graduado|   Casado(a)| 7500.0|            0|           0|    09-11-2012|                24|        3.0|       18.0|       14.0|       15.0|      22.0|      50.0|               3|           3|               1|           3|           9|          0|           72.0|             7|                   0.96|   7|
|  456|          1986|Pos-graduado|   Casado(a)| 7500.0|            1|           0|    07-02-2013|                96|        1.0|       11.0|        5.0|        4.0|       6.0|       9.0|               2|           2|               0|           3|           8|          0|           27.0|             5|                   0.36|   8|
| 4692|          1976|    Graduado|   Casado(a)| 7500.0|            1|           0|    01-08-2012|                19|        7.0|        0.0|       12.0|       13.0|       7.0|      32.0|               5|           4|               1|           2|           9|          0|           39.0|             7|                   0.52|   9|
| 9553|          1987|    Graduado|   Casado(a)| 7500.0|            0|           0|    09-01-2013|                94|        0.0|        2.0|        3.0|        4.0|       1.0|       5.0|               1|           0|               0|           3|           6|          0|           10.0|             3|                   0.13|  10|
|10710|          1979|    Graduado|   Casado(a)| 7500.0|            0|           1|    29-08-2012|                61|        5.0|        2.0|        3.0|        3.0|       0.0|       5.0|               1|           1|               0|           2|           8|          0|           13.0|             3|                   0.17|  11|
| 1773|          1978|Pos-graduado|   Casado(a)|12393.0|            0|           0|    04-12-2012|                38|        5.0|        6.0|       15.0|       11.0|       7.0|      13.0|               1|           2|               0|           3|           9|          0|           44.0|             5|                   0.36|  12|
| 1160|          1970|    Graduado|   Casado(a)|13260.0|            1|           1|    23-08-2013|                48|        9.0|        4.0|       17.0|       10.0|       2.0|       7.0|               4|           3|               0|           3|           8|          0|           42.0|             6|                   0.32|  13|
| 3641|          1976|    Graduado|   Casado(a)|13624.0|            1|           0|    20-01-2013|                93|       10.0|        2.0|       15.0|        2.0|       1.0|       6.0|               2|           2|               0|           3|           6|          0|           30.0|             5|                   0.22|  14|
| 3436|          1969|    Graduado|   Casado(a)|14045.0|            1|           0|    26-01-2014|                24|       11.0|        0.0|        5.0|        2.0|       1.0|       1.0|               1|           1|               0|           3|           7|          0|           19.0|             4|                   0.14|  15|
| 5802|          1972|      Basico|   Casado(a)|14188.0|            0|           0|    28-02-2013|                40|        2.0|        7.0|       11.0|       16.0|      12.0|      27.0|               1|           2|               0|           4|           6|          0|           48.0|             6|                   0.34|  16|
|  193|          1996|      Basico|   Casado(a)|14421.0|            0|           0|    17-02-2014|                81|        0.0|        0.0|        2.0|        3.0|       3.0|       8.0|               1|           1|               0|           2|           5|          0|            8.0|             3|                   0.06|  17|
| 1241|          1984|Pos-graduado|   Casado(a)|14796.0|            1|           0|    17-09-2012|                 1|       13.0|        3.0|        8.0|        7.0|       4.0|      16.0|               2|           1|               0|           3|           9|          0|           35.0|             4|                   0.24|  18|
|10262|          1980|    Graduado|   Casado(a)|15072.0|            2|           0|    10-05-2013|                96|        8.0|        2.0|       15.0|        0.0|      10.0|      18.0|               4|           3|               1|           3|           5|          0|           35.0|             7|                   0.23|  19|
| 8420|          1970|Pos-graduado|   Casado(a)|15315.0|            0|           0|    03-08-2013|                27|        7.0|        4.0|       13.0|       15.0|       8.0|      17.0|               2|           2|               0|           4|           5|          0|           47.0|             6|                   0.31|  20|
|10065|          1970|Pos-graduado|   Casado(a)|15315.0|            0|           0|    03-08-2013|                27|        7.0|        4.0|       13.0|       15.0|       8.0|      17.0|               2|           2|               0|           4|           5|          0|           47.0|             6|                   0.31|  21|
|10995|          1988|Pos-graduado|   Casado(a)|15716.0|            1|           0|    12-11-2012|                 8|       16.0|        5.0|       30.0|        8.0|       7.0|      26.0|               3|           3|               0|           4|           8|          1|           66.0|             7|                   0.42|  22|
| 4808|          1956|    Graduado|   Casado(a)|15759.0|            0|           0|    05-09-2013|                12|        1.0|        2.0|        5.0|        6.0|       0.0|       3.0|               1|           1|               0|           2|           7|          0|           14.0|             3|                   0.09|  23|
|  642|          1980|      Basico|   Casado(a)|16005.0|            1|           0|    14-08-2012|                69|        1.0|        3.0|        2.0|       20.0|      30.0|      47.0|               3|           2|               1|           2|           8|          0|           56.0|             5|                   0.35|  24|
| 3559|          1988|Pos-graduado|   Casado(a)|16248.0|            1|           0|    10-05-2014|                77|       12.0|       11.0|       10.0|        3.0|      12.0|       9.0|               3|           2|               1|           3|           6|          0|           48.0|             6|                    0.3|  25|
| 4415|          1961|    Graduado|   Casado(a)|16860.0|            1|           1|    12-09-2012|                19|       10.0|        4.0|        4.0|        3.0|       3.0|      14.0|               3|           1|               1|           3|           7|          0|           24.0|             5|                   0.14|  26|
|10031|          1976|         PhD|   Casado(a)|16927.0|            1|           1|    10-02-2013|                50|       20.0|        2.0|       23.0|        3.0|       1.0|       4.0|               5|           3|               0|           4|           8|          0|           49.0|             7|                   0.29|  27|
| 7235|          1975|Pos-graduado|   Casado(a)|17003.0|            1|           0|    09-12-2013|                37|        2.0|        5.0|       12.0|        4.0|       8.0|       7.0|               3|           2|               0|           4|           5|          0|           31.0|             6|                   0.18|  28|
| 9481|          1976|    Graduado|   Casado(a)|17148.0|            1|           0|    28-01-2014|                80|        9.0|        9.0|       11.0|       13.0|      10.0|      16.0|               4|           3|               1|           3|           8|          0|           52.0|             7|                    0.3|  29|
| 1384|          1992|      Basico|   Casado(a)|17256.0|            1|           0|    23-11-2013|                10|        6.0|        4.0|       14.0|        8.0|       8.0|      22.0|               2|           2|               1|           2|           8|          0|           40.0|             5|                   0.23|  30|
| 2569|          1987|    Graduado|   Casado(a)|17323.0|            0|           0|    10-10-2012|                38|        3.0|       14.0|       17.0|        6.0|       1.0|       5.0|               1|           1|               0|           3|           8|          0|           41.0|             4|                   0.24|  31|
| 4240|          1978|    Graduado|   Casado(a)|17345.0|            1|           0|    03-11-2012|                79|        4.0|        9.0|       16.0|       17.0|       0.0|      12.0|               2|           2|               1|           2|           8|          0|           46.0|             5|                   0.27|  32|
| 6516|          1989|      Basico|   Casado(a)|17487.0|            1|           0|    18-03-2013|                37|        0.0|        0.0|        1.0|        7.0|       4.0|       6.0|               1|           1|               0|           2|           7|          0|           12.0|             3|                   0.07|  33|
| 8625|          1976|    Graduado|   Casado(a)|17649.0|            1|           0|    12-11-2013|                70|       15.0|        1.0|       23.0|        0.0|       5.0|       1.0|               3|           3|               0|           3|           8|          0|           44.0|             6|                   0.25|  34|
| 6742|          1979|    Graduado|   Casado(a)|17688.0|            1|           0|    13-01-2013|                82|        2.0|        2.0|        1.0|        3.0|       1.0|       2.0|               1|           1|               0|           2|           8|          1|            9.0|             3|                   0.05|  35|
| 5029|          1946|    Graduado|   Casado(a)|18100.0|            0|           0|    06-08-2013|                14|        3.0|        1.0|        2.0|        4.0|       3.0|       1.0|               1|           0|               0|           3|           5|          0|           13.0|             3|                   0.07|  36|
|10790|          1985|         PhD|   Casado(a)|18169.0|            1|           0|    19-02-2013|                40|        9.0|        0.0|        5.0|        0.0|       0.0|       7.0|               1|           1|               0|           2|           8|          0|           14.0|             3|                   0.08|  37|
| 2431|          1990|    Graduado|   Casado(a)|18222.0|            0|           0|    31-12-2012|                70|       12.0|        4.0|       19.0|       12.0|       6.0|      14.0|               1|           2|               0|           3|           8|          0|           53.0|             5|                   0.29|  38|
| 3068|          1990|    Graduado|   Casado(a)|18351.0|            0|           0|    29-10-2013|                 1|        1.0|       12.0|        9.0|        0.0|      14.0|       7.0|               1|           2|               0|           3|           7|          0|           36.0|             5|                    0.2|  39|
| 6398|          1974|      Basico|   Casado(a)|18393.0|            1|           0|    29-03-2014|                 2|        7.0|       10.0|       13.0|       16.0|       0.0|       4.0|               2|           3|               0|           3|           8|          0|           46.0|             6|                   0.25|  40|
|10826|          1959|    Graduado|   Casado(a)|18690.0|            0|           0|    28-12-2012|                77|        6.0|        1.0|        7.0|       23.0|       4.0|      19.0|               1|           1|               1|           2|           8|          0|           41.0|             4|                   0.22|  41|
| 4086|          1959|    Graduado|   Casado(a)|18690.0|            0|           0|    28-12-2012|                77|        6.0|        1.0|        7.0|       23.0|       4.0|      19.0|               1|           1|               1|           2|           8|          0|           41.0|             4|                   0.22|  42|
|10304|          1959|    Graduado|   Casado(a)|18690.0|            0|           0|    28-12-2012|                77|        6.0|        1.0|        7.0|       23.0|       4.0|      19.0|               1|           1|               1|           2|           8|          0|           41.0|             4|                   0.22|  43|
| 9668|          1971|    Graduado|   Casado(a)|18793.0|            1|           0|    12-01-2013|                14|        4.0|       16.0|       20.0|        0.0|      17.0|      20.0|               3|           2|               0|           4|           8|          0|           57.0|             6|                    0.3|  44|
| 2253|          1990|    Graduado|   Casado(a)|18929.0|            0|           0|    16-02-2013|                15|       32.0|        0.0|        8.0|       23.0|       4.0|      18.0|               1|           1|               0|           4|           6|          0|           67.0|             5|                   0.35|  45|
| 2326|          1990|    Graduado|   Casado(a)|18929.0|            0|           0|    16-02-2013|                15|       32.0|        0.0|        8.0|       23.0|       4.0|      18.0|               1|           1|               0|           4|           6|          0|           67.0|             5|                   0.35|  46|
| 1876|          1990|    Graduado|   Casado(a)|18929.0|            0|           0|    16-02-2013|                15|       32.0|        0.0|        8.0|       23.0|       4.0|      18.0|               1|           1|               0|           4|           6|          0|           67.0|             5|                   0.35|  47|
| 6682|          1973|      Basico|   Casado(a)|18978.0|            1|           0|    11-12-2012|                41|        2.0|        8.0|        1.0|        4.0|       7.0|      15.0|               1|           1|               0|           3|           8|          0|           22.0|             4|                   0.12|  48|
| 4329|          1984|         PhD|   Casado(a)|18988.0|            1|           0|    23-05-2014|                43|        6.0|        0.0|        6.0|        2.0|       1.0|       1.0|               2|           1|               0|           3|           7|          0|           15.0|             4|                   0.08|  49|
| 5868|          1980|    Graduado|   Casado(a)|19107.0|            1|           0|    22-08-2013|                49|        2.0|        4.0|        9.0|       10.0|       5.0|      16.0|               2|           1|               0|           3|           7|          0|           30.0|             4|                   0.16|  50|
+-----+--------------+------------+------------+-------+-------------+------------+--------------+------------------+-----------+-----------+-----------+-----------+----------+----------+----------------+------------+----------------+------------+------------+-----------+---------------+--------------+-----------------------+----+
only showing top 50 rows

ABAIXO SERÃO FEITAS AS CONSULTAS SQL VIA SPARK.SQL

In [ ]:
dfs.createOrReplaceTempView('marketing')

In [ ]:
#CONSULTANDO A MÉDIA DE TODAS AS RENDAS VIA SPARK.SQL
#ESTA CONSULTA CONSISTE VISUALIZAR A MEDIA DE TODAS AS RENDAS DA TABELA
spark.sql('select avg(marketing.Renda) from marketing').show()

+------------------+
|        avg(Renda)|
+------------------+
|52247.251339285714|
+------------------+

In [ ]:
#ESTA CONSULTA CONSISTE EM CONTAR A QUANTIDADE DE PESSOAS CUJA RENDA E MENOR QUE A MEDIA
spark.sql("select COUNT(marketing.ID) FROM marketing WHERE Renda<52247.25;").show()

+---------+
|count(ID)|
+---------+
|     1132|
+---------+

In [ ]:
##ESTA CONSULTA CONSISTE EM CONTAR A QUANTIDADE DE PESSOAS DA TABELA
spark.sql("Select COUNT (marketing.ID) FROM marketing").show()

+---------+
|count(ID)|
+---------+
|     2240|
+---------+

###A CONCLUSÃO ACIMA É QUE CERCA DE 50,6% DO PÚBLICO DA PESQUISA POSSUI O SALÁRIO INFERIOR À MEDIA DE $ 52247,25 ANUAIS.

In [ ]:
#ESTA CONSULTA BUSCA ENCONTRAR A MEDIA DAS RENDAS COM PESSOAS EM NIVEL PHD DE FORMACAO
spark.sql("SELECT AVG(Renda) FROM marketing WHERE Educacao = 'PhD' ").show()

+----------------+
|      avg(Renda)|
+----------------+
|56105.2103909465|
+----------------+

In [ ]:
#ESTA CONSULTA BUSCA ENCONTRAR A MEDIA DAS RENDAS COM PESSOAS EM NIVEL DE SUPERIOR COMPLETO
spark.sql("SELECT AVG(Renda) FROM marketing WHERE Educacao = 'Graduado' ").show()

+----------------+
|      avg(Renda)|
+----------------+
|52715.7557675244|
+----------------+

In [ ]:
#ESTA CONSULTA BUSCA ENCONTRAR A MEDIA DAS RENDAS COM PESSOAS EM NIVEL BASICO DE FORMACAO
spark.sql("SELECT AVG(Renda) FROM marketing WHERE Educacao = 'Basico' ").show()

+-----------------+
|       avg(Renda)|
+-----------------+
|20306.25925925926|
+-----------------+

###DE ACORDO COM OS DADOS COLETADOS COM UMA AMOSTRA DE 2200 PESSOAS, A MÉDIA SALARIAL DE UM PHD EM RELAÇÃO A UM INDIVIDUO COM ENSINO BASICO CHEGA A AUMENTAR EM TORNO DE 176%, ISTO É, EM APROXIMADAMENTE $ 35798 A MAIS ANUAIS.

In [ ]:
#ESTA CONSULTA BUSCA ENCONTRAR A MEDIA DOS GASTOS EM ALIMENTACAO SE NA RESIDENCIA NAO HOUVEREM CRIANCAS E ADOLESCENTES
spark.sql("SELECT AVG(Gasto_Alimentos) FROM marketing WHERE Criancas_Casa & Adolesc_Casa = 0; ").show()

+--------------------+
|avg(Gasto_Alimentos)|
+--------------------+
|   635.8006430868168|
+--------------------+

In [ ]:
#ESTA CONSULTA BUSCA ENCONTRAR A MEDIA DOS GASTOS EM ALIMENTACAO SE NA RESIDENCIA HOUVEREM CRIANCAS OU ADOLESCENTES
spark.sql("SELECT AVG(Gasto_Alimentos) FROM marketing WHERE Criancas_Casa | Adolesc_Casa != 0; ").show()

+--------------------+
|avg(Gasto_Alimentos)|
+--------------------+
|   370.5736579275905|
+--------------------+

###A média de gasto com alimentos em casas com crianças ou adolescentes são menores. Com base nos dados, não se tem a informação se as casas que não possuem crianças possuem mais adultos ou não, porém, infere-se que sim, já que adultos tendem a consumir mais alimentos que crianças.

In [ ]:
df_up = dfs.toPandas()

In [ ]:
df_up.to_csv('dataset_limpo.csv')